<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fw-bold " style="font-size: 45px; text-align: center; margin: auto;margin-top: 10px;color: #6c757d;;">PATIENT REGISTER</h1>
            <button type="button" class="btn-close" aria-label="Close" (click)="onCancelClick()"></button>
        </div>
        <div class="modal-body">
            <form (ngSubmit)="addPatient(patient)" #patientForm="ngForm" style="width: 500px; margin-top: 30px;">
                <div class="row mb-3">
                    <div class="col">
                        <label for="prenom" class="form-label">Fist Name</label>
                        <input type="text" class="form-control form-control-lg" id="prenom" [(ngModel)]="patient.prenom" name="prenom" required>
                    </div>
                    <div class="col-6">
                        <label for="nom" class="form-label">Last Name</label>
                        <input type="text" class="form-control form-control-lg" id="nom" [(ngModel)]="patient.nom" name="nom" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="adresse" class="form-label">Adress</label>
                        <input type="text" class="form-control form-control-lg" id="adresse" [(ngModel)]="patient.adresse" name="adresse" required>
                    </div>
                    <div class="col">
                        <label for="numeroTelephone" class="form-label">Phone Number</label>
                        <input type="text" class="form-control form-control-lg" id="numeroTelephone" [(ngModel)]="patient.numeroTelephone" name="numeroTelephone" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="age" class="form-label">Âge</label>
                        <input type="number" class="form-control form-control-lg" id="age" [(ngModel)]="patient.age" name="age" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-secondary me-2" (click)="onCancelClick()">Cancel</button>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
